body,
.search-wrapper input {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 85;
}

body {
    background-color: black;
    color: white;
}

header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    border-bottom: 2px solid rgb(167, 167, 167);
}

.navitem {
    margin: 1rem;
    text-decoration: none;
    color: white;
}

.navitem:hover,
.btn:hover {
    border-bottom: 2px solid #52b9e2;
}

.btn:hover {
    border-radius: 2rem;
}

.filters {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.weapon-filter,
.element-filter {
    display: flex;
    justify-content: center;
    height: 40px;
    flex-grow: 1;

}

.search-wrapper input {
    border-radius: .25rem;
    border: none;

}

.hide {
    display: none;
}

.card {
    height: 100px;
    width: 100px;
    margin: 1rem;
}